bin/Debug/net7.0/covidsimulator2023
bin/Debug/net7.0/covidsimulator2023.deps.json
bin/Debug/net7.0/covidsimulator2023.dll
bin/Debug/net7.0/covidsimulator2023.pdb
bin/Debug/net7.0/covidsimulator2023.runtimeconfig.json
obj/covidsimulator2023.csproj.nuget.dgspec.json
obj/covidsimulator2023.csproj.nuget.g.props
obj/covidsimulator2023.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
obj/Debug/net7.0/apphost
obj/Debug/net7.0/covidsimulator2023.AssemblyInfo.cs
obj/Debug/net7.0/covidsimulator2023.AssemblyInfoInputs.cache
obj/Debug/net7.0/covidsimulator2023.assets.cache
obj/Debug/net7.0/covidsimulator2023.csproj.AssemblyReference.cache
obj/Debug/net7.0/covidsimulator2023.csproj.CoreCompileInputs.cache
obj/Debug/net7.0/covidsimulator2023.csproj.FileListAbsolute.txt
obj/Debug/net7.0/covidsimulator2023.dll
obj/Debug/net7.0/covidsimulator2023.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net7.0/covidsimulator2023.genruntimeconfig.cache
obj/Debug/net7.0/covidsimulator2023.GlobalUsings.g.cs
obj/Debug/net7.0/covidsimulator2023.pdb
obj/Debug/net7.0/ref/covidsimulator2023.dll
obj/Debug/net7.0/refint/covidsimulator2023.dll
